body {
    background: black;
    color: #cfcfcf;
    font-family: arial;
}

a {
    color: yellow;
    text-decoration: underline;
}

a:hover {
    color: white;
}

.banner {
    font-weight: bold;
    color: black;
    font-size: 25px;
}

.container {
    max-width: 1200px;
    margin: auto;
    border: 3px solid #141414;
    padding: 10px;
}



button {
    background: black;
    border: 4px solid yellow;
    padding: 10px;
    color: yellow;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
}

button:hover {
    border: 4px solid white;
    color: white;
}

input {
    outline: none !important;
    border: none;
    padding: 10px;
    font-size: 20px;
}

.warn-input {
    color: red;
    font-size: 14px;
    padding: 4px;
    height: 12px;
    padding: 5px;
    margin: 5px;
    border-top: 2px solid black;
}

.label-input {
    color: yellow;
    font-size: 14px;
    padding: 4px;
    height: 12px;
    padding: 5px;
    margin: 5px;
}

h1 {
    color: yellow
}

.section-title {
    font-size: 16px;
    color: yellow;
    font-weight: bold;
    text-transform: uppercase;
}

.code-background {
    background: #161616;
    padding-top: 15px;
    padding-left: 15px;
    overflow: auto;
}