@font-face {
    font-family: 'retro-font';
    src: URL('/fonts/PressStart2P.ttf') format('truetype');
}

body {
    background: black;
    color: white;
    padding: 0px;
    margin: 0px;
    cursor: url('/cursors/black-default.png') -30 -30, auto;
    font-family: 'retro-font';
    overscroll-behavior: contain;
}

input {
    padding: 10px;
    font-size: 13px;
    font-family: 'retro-font';
}


sub-content-gui {
    padding: 10px;
    margin-top: 70px;
}

canvas {
    margin: auto;
    display: block;
    position: relative;
}

.custom-cursor {
    cursor: url('/cursors/black-pointer.png') -30 -30, auto !important;
}

touch-layer {
    overflow: hidden;
}

gui-layer {
    background: rgba(0, 0, 0, 0.7);
}

main-menu {
    background: rgba(0, 0, 0, 0.7);
    /* border: 4px solid yellow; */
    width: 260px;
    padding: 5px;
    text-align: right;
    overflow-y: auto;
    overflow-x: hidden;
}

main-menu,
.open-menu {
    top: 10px;
    left: 10px;
}

menu-button {
    /* background: black; */
    font-size: 10px;
    border: 2px solid yellow;
    color: yellow;
    height: 40px;
}

menu-button:hover {
    border: 2px solid white;
    color: white;
}

loader {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: black;
}

.close-menu,
.open-menu,
.close-gui {
    border: 4px solid yellow;
    width: 40px;
    height: 40px;
    background: black;
}

.close-gui {
    top: 10px;
}

.hover-button:hover {
    border: 4px solid white;
}

.icons-menu {
    width: 20px;
    height: 20px;
}

button {
    background: black;
    border: 4px solid yellow;
    padding: 10px;
    color: yellow;
    font-family: 'retro-font';
}

button:hover {
    border: 4px solid white;
    color: white;
}

input-warn {
    color: red;
    font-size: 10px;
    padding: 4px;
    height: 12px;
}

label {
    color: yellow;
    font-size: 10px;
    padding: 4px;
    height: 12px;
}

.points-gif-loading {
    width: 30px;
    height: 30px;
}

.content-loading-btn {
    height: 50px;
    width: 200px;
}

.content-warn-server {
    padding: 5px;
    margin: 5px;
}

.cyberia-logo {
    width: 35px;
    height: 35px;
}


.item-bag-icon {
    width: 80%;
    height: 80%;
}

.count-item-text {
    color: yellow;
    top: 12%;
    width: 150%;

    right: 0%;
}

.x-count-item-text {
    color: white;
    left: 8px;
}

.item-bag-style-text {
    color: white;
    top: 90%;

}

.grid-cell {
    border: 2px solid #171717;
    margin: 3px;
}

.grid-cell:hover {
    border: 2px solid yellow;
}

.grid-cell-equip {
    border: 2px solid yellow;
    margin: 3px;
    background: black;
}

.grid-cell-equip:hover {
    border: 2px solid white;
}

.title-section {
    padding: 10px;
    border-bottom: 5px solid yellow;
    color: black;
    width: 250px;
    margin-bottom: 15px;
}

history-chat {
    overflow: auto;
    border: 2px solid yellow;
    margin: 3px;
}

.chat-msg-content {
    margin: 5px;
}

.chat-avatar-icon {
    width: 20px;
    height: 20px;
}

.chat-input {
    width: 50%;
}

.noti-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    top: -10px;
    right: -10px;
    font-size: 8px;
    color: white;
}

event-board {
    border: 2px solid yellow;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.map-type-status-content {
    border: 2px solid yellow;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    font-size: 8px;
    color: yellow;
    width: 80px;
    height: 70px;
    top: 10px;
    right: 10px;
    /* font-weight: bold; */
}

.map-type-pve {
    color: #2be8e2;
}

.map-type-pvp {
    color: #ff2727;
}

.map-type-safe {
    color: #00cb00;
}

.character-stats-grid {
    font-size: 8px;
    margin-bottom: 20px;
}

.character-stats-grid-row {
    margin: 2px;
    padding: 2px;
    border-bottom: 1px solid yellow;
}

.character-stats-grid-label {
    color: yellow;
    padding: 5px;
}

.character-stats-img-avatar {
    padding: 5%;
    width: 50%;
    height: auto;
    border: 2px solid yellow;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.toggle-switch-content {
    width: 55px;
    height: 24px;
    border: 2px solid yellow;
}

.toggle-switch-content:hover {
    border: 2px solid white;
}

.config-row {
    margin: 2px;
    padding: 15px;
    border-bottom: 2px solid yellow;
    font-size: 12px;
}

.config-col-content {
    padding: 5px;
}

.dead-content {
    border: 2px solid red;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100px;
    height: 80px;
}

.dead-icon {
    width: 70px;
    height: auto;
}

.dead-count {
    color: black;
    font-size: 10px;
}

.wiki-section-header {
    padding: 10px;
    margin: 5px 5px 0px 5px;
    border: 3px solid yellow;
    color: yellow;
}

.wiki-section-header:hover {
    border: 3px solid white;
    color: white;
}

.wiki-section {
    padding: 10px;
    margin: 0px 5px 5px 5px;
    border: 3px solid yellow;
    color: yellow;
    min-height: 120px;
}

.wiki-row {
    font-size: 10px;
}

.wiki-value {
    color: white;
}

.wiki-cell {
    padding: 3px;
    margin: 3px;
    /* border: 2px solid yellow; */
}

.map-img {
    width: 100%;
    height: auto;
}

.map-hover-gfx {
    width: 90%;
    height: 90%;
    color: yellow;
    font-size: 10px;
}

.map-hover-gfx:hover {
    border: 3px solid yellow;
}

input:disabled {

    border-color: none !important;
    background-color: none;
    background: none !important;
    width: 90%;
    color: white;
    /* 
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    border-color: rgba(118, 118, 118, 0.3); 
    */
}

.account-section {
    padding: 5px 5px 10px 5px;
    border-bottom: 2px solid yellow;
}

.account-email-loading {
    height: 70px;
}

.loading-content {
    font-size: 10px;
    color: black;
}

.btn-account-section {
    font-size: 8px;
    margin: 3px;
    padding: 3px;
}

common-menu {
    margin-top: 55px;
}

.cyberia-logo-open-menu {
    width: 20px;
    height: 20px;
    top: 5px;
}

.online-cyberia-logo-text {
    font-size: 8px;
}



.content-cyberia-logo {
    right: 5px;
    top: 0px;
    width: 200px;
    height: 50px;
    font-size: 10px;
}

.quest-menu-btn-content {
    border: 2px solid yellow;
    color: yellow;
    margin: 3px;
}

.quest-menu-btn-content:hover {
    border: 2px solid white;
}

.quest-menu-sprite-img {
    width: 80px;
    height: 80px;
    margin: auto;
}

.quest-menu-btn-cell {
    padding: 10px;
}

.quest-menu-btn-cell-0 {
    width: 30%;
}

.quest-menu-btn-cell-1 {
    width: 70%;
}

.quest-menu-btn-name-npc {
    padding: 5px;
}

.quest-menu-btn-title {
    font-size: 18px;
    padding: 5px;
    color: black;
}

.quest-menu-btn-dialog {
    color: white;
    padding: 5px;
    font-size: 10px;
}

.quest-menut-btn-see {
    font-size: 10px;
    background: none;
    float: right;
    border: none;
    width: 120px;
    padding: 5px;
}

.quest-menut-btn-see:hover {
    font-size: 10px;
    background: none;
    float: right;
    color: white;
    border: none;
    padding: 5px;
    text-decoration: underline;
}


.quest-btn-see-content {
    height: 30px;
    margin: 5px 0px 5px 0px;
}

.icon-board-img {
    width: 25px;
    height: 25px;
}

.content-event-board {
    padding: 5px;
    border-bottom: 2px solid yellow;
    margin: 2px;
    font-size: 8px;
    height: 55px;
    /* -12 */
    overflow: hidden;
}

event-board {
    bottom: 10px;
    right: 10px;
}

.item-modal {
    background: black;
    border: 3px solid yellow;
    padding: 10px;
}

.item-modal-img {
    width: 50px;
    height: auto;
}


.btn-close-modal-item {
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid yellow;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 5px;
}

.btn-close-modal-item:hover {
    border: 3px solid white;
}

.icons-close-modal-item {
    width: 20px;
    height: 20px;
}

.stats-content-item-modal {
    font-size: 8px;
    text-align: left;
    padding: 8px;
}

.value-stat-content {
    padding: 5px;
}

.modal-item-header {
    margin: 3px;
    padding-left: 55px;
}

.quest-render-logic {
    color: white;
    font-size: 10px;
}

.quest-noti-content {
    border: 3px solid yellow;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px;
}

.noti-quest-sprite-img {
    width: 80px;
    height: auto;
}

.quest-section-info {
    border-top: 2px solid yellow;
    padding: 15px 5px 15px 5px;
    margin: 5px;
}

.success-quest-content {
    color: #21e321;
    top: 13px;
    right: 4px;
    width: 170px;
    font-size: 10px;
}

.talisman-equip-content {
    top: 5%;
}

.weapon-equip-content {
    left: 20%;
}

.breastplate-equip-content {
    left: 80%;
    top: 70%;
}

.legs-equip-content {
    top: 95%;
}

.helmet-equip-content {
    left: 80%;
    top: 30%;
}